body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 12px;
    align-items: flex-start;
}
a{
    text-decoration: none;

}
.header,
.footer{
    background-color:  #1F2937;
}
.header .container-header h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.header .nav-bar a ,
.header .container-header p{
    font-size: 18px;
    color: #E5E7EB;
}
.header .logo a{
    font-size: 24px;
    color: #F9FAF8;
}
.container-signup,
.button button{
    background-color: #3882F6;
    color: #E5E7EB; 
}
.container-quote p{
    font-size: 36px;
    font-family: 'light italic',sans-serif;
    color: #1F2937;
}

.header .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 95px;

}
.nav-bar-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 32px;
    padding: 0;
}

/* setting images sizes*/
.logo img{
    width: 100px;
    height: 100px;
    padding: 12px;
}
.header .placeholder-img img{
    width: 700px;
    height: 350px;
    padding: 12px;
}
.container-header{
    text-align: justify;
    display: flex;
    justify-content: space-around;
    gap: 18px;
    margin-bottom: 12px;
}

.container-header h1{
    width: 350px;
}
.container-header p {
    width: 400px;
}

.container-info img{
    width: 160px;
    height: 160px;
    border-radius: 15px;
}
.container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.container-info-imgs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
}

.container-text-img p {
    display: flex;
    flex-shrink: 1;
    width: 160px;
    
    text-align: center;
}
